body {
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 4rem;
    color: $titleColor;
    font-weight: bold;
}

h2,
h3,
h5 {
    color: $titleColor;
}

.container-fluid {
    width: 100%;
    height: 100%;
    border: 3px solid black;
}

// ICONE - TABS - COMMENTI
.bi {
    @include iconStyle;
}

// SECTION LEFT

#leftSide,
#rightside {
    background-color: $sideColor;
    color: $textColor;
}

.iconTabsComm {
    margin-bottom: 20px;

    h6 {
        @include textStyle;
    }

    h6:hover {
        color: white;
    }

    input {
        cursor: pointer;
        margin-left: 10px;
        background-color: black;
        border: none;
        font-size: 0.9rem;
        background-color: $sideColor;
        color: $textColor;
    }

    i {
        margin-left: 5px;
        margin-bottom: 5px;
    }

    #text-dec {
        text-decoration: none;
    }
}

a {
    @include textDecoration;
}

p {
    font-size: 0.7rem;
}

hr {
    columns: $textColor;
}

// SECTION CENTER

#main-section {
    @include bgColorGradient;
    .bi {
        @include mainIconStyle;
        font-size: 2rem;
    }
    .container {
        margin-top: 1vh;
    }
}

#main-bar {
    position: sticky;
    top: 0;
    z-index: 99;
    p {
        font-size: 0.7rem;
    }
    i {
        z-index: 99;
    }
}

.dropdown {
    @include dropdownButton;
    font-size: 0.7rem;
}

#jumbotron {
    background-color: $sideColor;
    margin: {
        top: 2vh;
        bottom: 2vh;
    }
    img {
        width: 100%;
    }
    h5 {
        margin-top: 2vh;
    }
    p {
        margin-top: 2vh;
        color: $titleColor;
        font-weight: 400;
    }

    button {
        @include genericButton;
    }
    #btn-play {
        background-color: #1ed760;
        color: black;
        border: none;
    }
}

#playlist {
    .playlist-box {
        background-color: $bgColorBox;
        width: 30%;
        padding: 0;
        margin: {
            top: 2vh;
            right: 2vh;
        }
    }
    img {
        width: 8vh;
    }
    p {
        margin-left: 1vh;
        color: white;
    }
}

.card-titles {
    margin: {
        top: 5vh;
        bottom: 2vh;
    }
}

#card-container {
    .card {
        height: 31vh;
        width: 20vh;
        margin: 2vh auto;
        border: none;
        border-radius: 2px;
        background-color: black;
    }
    .card-title {
        font-size: 1rem;
        font-weight: 400;
    }
    a {
        text-decoration: none;
    }
    .card-text {
        color: $textColor;
    }
}

// SECTION RIGHT

.friend {
    width: 50px;
    height: 50px;
    background-size: cover;
    border-radius: 50%;
}

.friend-1 {
    background-image: url(https://s2.r29static.com/bin/entry/c3f/x,80/2208446/image.jpg);
}
.friend-2 {
    background-image: url(https://d12uefesvffx6j.cloudfront.net/19c5f765-0557-4426-9640-815710205fb3-6-luglio-battiferro-ok.jpg/658e92357ddaf83a37526e47323880e7e339b4c0.jpg);
}
.friend-3 {
    background-image: url(https://www.tonica.la/__export/1599499388876/sites/debate/img/2020/09/07/dolores_oxriordan-the_cranberries-49_aniversario.jpg_423682103.jpg);
}

// SECTION BOTTOM PLAYER
svg {
    margin-right: 17px;
}

#navbar-bottom {
    border-top: 1px solid gray;
    position: fixed;
    bottom: 0;
    height: 90px;
    background-color: #212121;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    cursor: default;
}

#navbar-bottom #navbar-left {
    width: 33vw;
    margin: 10px;
    display: flex;
    align-items: center;
}
#navbar-bottom #navbar-left .play-back {
    margin: 10px;
    padding: 0;
    font-size: 14px;
}
#navbar-bottom #navbar-left .play-back #title-song:hover {
    text-decoration: underline;
}
#navbar-bottom #navbar-left .play-back #author {
    color: gray;
    font-size: 12px;
}
#navbar-bottom #navbar-center {
    width: 33vw;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#navbar-bottom #navbar-center .track-buttons {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: rgb(208, 208, 208);
}
#navbar-bottom #navbar-center .track-buttons i {
    padding-inline: 10px;
}
#navbar-bottom #navbar-center .track-buttons i:hover {
    color: white;
}
#navbar-bottom #navbar-center .track-buttons .fa-circle-play {
    color: white;
    font-size: 35px;
}
#navbar-bottom #navbar-center .track-buttons .fa-circle-pause {
    font-size: 35px;
    display: none;
}
#navbar-bottom #navbar-center .trackbar {
    display: flex;
    align-items: center;
    font-size: 10px;
    color: rgb(204, 204, 204);
    width: 36vw;
    p {
        margin: 0;
    }
}
#navbar-bottom #navbar-center .trackbar .track-default {
    width: 100%;
    height: 4px;
    background-color: gray;
    border-radius: 50px;
    margin: 8px;
}
#navbar-bottom #navbar-center .trackbar #track-seconds {
    position: relative;
    left: 10px;
    width: 0%;
    height: 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
}
#navbar-bottom #navbar-center .trackbar:hover #track-seconds {
    background-color: #1ed760;
}
#navbar-bottom #navbar-right {
    width: 33vw;
    margin: 42px;
    display: flex;
    align-items: center;
    justify-content: end;
    color: gray;
}
#navbar-bottom #navbar-right i {
    padding-right: 20px;
}
#navbar-bottom #navbar-right i:hover {
    color: white;
}
#navbar-bottom #navbar-right .volume .volume-default {
    width: 80px;
    height: 4px;
    background-color: gray;
    border-radius: 50px;
}
#navbar-bottom #navbar-right .volume #volume-set {
    position: relative;
    top: 4px;
    width: 20px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
}
#navbar-bottom #navbar-right .volume:hover #volume-set {
    background-color: #1ed760;
}

// SECTION ARTIST

#container-artist {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 30vh;

    h6 {
        color: white;
        margin-bottom: 0;
    }

    .badgeSpot {
        width: 30px;
    }
}

// CONTAINER ARTIST BtN
#container-artist-btn {
    display: flex;
    align-items: center;
    margin-top: 20px;
    .play-byn-art {
        text-align: center;
        font-size: 1.5rem;
        width: 6vh;
        height: 6vh;
        background-color: #1ed760;
        border-radius: 2em;
    }

    .follow-btn {
        margin-left: 25px;
        background-color: #212121;
        border: 1px solid white;
        height: 3.5vh;
        padding: 5px;
        border-radius: 5px;

        h5 {
            font-size: 1rem;
        }
    }
    .bi {
        margin-left: 15px;
        color: grey;
    }
}

.container-artist-title {
    margin-top: 20px;
    margin-bottom: 20px;
}

// CONTAINER ARTIST COVER AND StATS

#contLCR {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;

    .leftTitle {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        margin-top: 15px;

        #numberTrack {
            margin-right: 10px;
            color: grey;
        }

        .card-img-top {
            margin-right: 15px;
            width: 45px;
        }

        #albumTitle {
            color: white;
        }

        .card-img-top {
            width: 45px;
        }

        #albumTitle {
            color: white;
        }
    }

    .centerViews {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        #views {
            color: grey;
        }
    }

    .rightTime {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        #timeMusic {
            color: gray;
        }
    }
}

// CONTAINER ARTIST PREFERITE ARTIST

.cont-stats {
    display: flex;
    align-items: center;
    margin-top: 20px;

    .img-preferite {
        border-radius: 50%;
    }

    h6 {
        color: white;
        font-size: 0.9rem;
        margin-left: 15px;
    }

    #albumTitle {
        color: gray;
        margin-left: 15px;
    }
}

// section album
.album-cover-box {
    width: 100%;
    height: auto;
    background-color: antiquewhite;
}

#album-cover {
    display: flex;
    flex-direction: row;
    #cover-img {
        width: 150px;
        height: 150px;

        background-size: cover;
    }
    #album-name-album {
        font-size: 200%;
    }
}

#album-titles {
    background: rgb(250, 235, 215);
    background: linear-gradient(0deg, rgba(250, 235, 215, 0) 4%, rgba(250, 235, 215, 0.5) 100%);
}

.center-album-icon {
    margin: 5px;
}

.track-div-box:hover {
    background-color: rgba(255, 255, 255, 0.093);
    transition: 0.2s ease-in-out;
}

.song-to-play {
    @include textDecoration;
    color: $titleColor;
    a {
        color: $textColor;
    }
}
