body{
    width: 100%;
    height: 100%;
}

.container-fluid {
    width: 100%;
    height: 100%;
    border: 3px solid black;
}



// ICONE - TABS - COMMENTI 

#leftSide {
    background-color: $sideColor;
    color: $textColor;
}

.iconTabsComm{
    
    .bi {
        cursor: pointer;
        font-size: 1.3rem;
    };

    h6 {
        font-size: 0.9rem;
        display: inline;
        margin-left: 10px;
    };
    
    h6:hover{
        color: white;
    }

    input {
        cursor: pointer;
        margin-left: 10px;
        background-color: black;
        border: none;
        font-size: 0.9rem;
        color: $textColor;
    };

    ::placeholder{
        color: $textColor;
    };
}