$sideColor: black; //Colori di sfondo per le due side
$textColor: #b2afac; // Colore per i testi
$titleColor: white; //Colore per i titoli
$bgColorMain: #1e1e1e; //Colore sfondo parte centrale
$bgColorBox: #2e2d2d; //Colore sfondo box playlist
$success: #1ed760;
